<!DOCTYPE html>
<html>
	<script language="javascript" src="static/scripts/nav.js"></script>
  <head>
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="static/styles/stylesLogin.css">
    <style>
    </style>
  </head>
  <body>
    <form method="POST">
    <!-- <form action="/action_page.php"> -->
 <h1>Login</h1>
 <div class="formcontainer">
 <hr/>
 <div class="container">
   <label for="EmailAddress"><strong>Email Address</strong></label>
   <input type="text" placeholder="Enter email" name="EmailAddress" required>
   <label for="Password"><strong>Password</strong></label>
   <input type="password" placeholder="Enter Password" name="Password" required>
 </div>
 <button type="submit">Login</button>

 <div class="container" style="background-color: #eee">
   <label style="padding-left: 15px">
   <input type="checkbox"  checked="checked" name="remember"> Remember me </label>
   

   <!-- <div></div> -->
   <span class="signup"><a href="{{ url_for('app.RegistrationForm') }}">Sign Up</a></span>
   <span class="psw"><a href="{{ url_for('app.Forgot') }}"> Forgot password?</a></span>
 </div>
    </form>
  </body>
    <script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>