<!DOCTYPE html>
<html>
	<script language="javascript" src="static/scripts/nav.js"></script>
  <head>
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="static/styles/stylesLogin.css">
    
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  crossorigin="anonymous"
/>

  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %} 
            {% if category =='error' %}
              <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <form method="POST">
    <!-- <form action="/action_page.php"> -->
 <h1>Login</h1>
 <div class="formcontainer">
 <hr/>
 <div class="container">
   <label for="EmailAddress"><strong>Email Address</strong></label>
   <input type="text" placeholder="Enter email" name="EmailAddress" required>
   <label for="Password"><strong>Password</strong></label>
   <input type="password" placeholder="Enter Password" name="Password" required>
 </div>
 <button type="submit">Login</button>

 <div class="container" style="background-color: #eee">
   <label style="padding-left: 15px">
   <input type="checkbox"  checked="checked" name="remember"> Remember me </label>
   

   <!-- <div></div> -->
   <span class="signup"><a href="{{ url_for('app.RegistrationForm') }}">Sign Up</a></span>
   <span class="psw"><a href="{{ url_for('app.Forgot') }}"> Forgot password?</a></span>
 </div>
    </form>
  </body>
    <script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>