<!DOCTYPE html>
<html>
  <title>Management</title>
  <script language="javascript" src="static/scripts/nav.js"></script>
<link rel="stylesheet" href="static/styles/stylesManagement.css">
<link rel="stylesheet" href="static/styles/stylesNAV.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  
<div class="container" id="myBtnContainer" style="float: inline-end;">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('authors')"> Authors</button>
  <button class="btn" onclick="filterSelection('reviewers')"> Reviewers</button>
  <button class="btn" onclick="filterSelection('papers')"> Papers</button>
  <button class="btn" onclick="filterSelection('reviews')"> Reviews</button>

<div class="dropdown" style="float: right; background-color: black; margin-right: 15px; ">
  <button class="dropbtn" style="height: 50px;">Add</button><div class="dropdown-content">
  <h4>Author</h4>
  <h4>Reviewer</h4>
  <h4>Paper</h4>
  <h4>Review</h4>
  </div>
</div>
</div>

<div class="container">
  <!-- AUTHORS -->
  {% for author in authors %}
     
      <form action="/manage_author" method="post">
        <div name="name" class="filterDiv authors"> {{author.FirstName}} {{author.LastName}}
        <button type="submit" name="delete" class="btninfo">Remove Author</button>
        <button type="submit" name="edit" class="btninfo">Edit Author Information</button>
      </div>
      </form>
 
  {% endfor %}

  {% for reviewer in reviewers%}
  <form action="/manage_reviewer" method="post">
    <div class="filterDiv reviewers"> {{reviewer.FirstName}} {{reviewer.LastName}}
    
    <button type="submit" class="btninfo">Remove Reviewer</button>
    
    <button class="btninfo">Edit Reviewer Information</button>
  </div>
  </form>
  {% endfor %}

  {% for paper in papers %}
  <form action="/manage_paper" method="post">
    <div class="filterDiv papers"> {{paper.Title}} 
    
    <button type="submit" class="btninfo">Remove Paper</button>
    
    <button class="btninfo">Edit Paper Information</button>
  </div>
  </form>
  {% endfor %}

  {% for review in reviews %}
  <form action="/manage_review" method="post">
    <div class="filterDiv reviews"> Review {{review.ReviewID}} 
      

    <button type="submit" class="btninfo">Remove Review</button>
    
    <button class="btninfo">Edit Review Information</button>
  </div>
  </form>
  {% endfor %}

</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
<script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>