<!DOCTYPE html>
<html lang="en">
<head>
<title>Paper Review</title>
<script language="javascript" src="static/scripts/nav.js"></script>
<link rel="stylesheet" href="static/styles/stylesNAV.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <table>
        <col width="500px">
        <col width="550px">
        <col width="200px">
        
        <tr>
          <th>Papers</th>
          <th>Reviewers</th>
          <th>Add Reviewers</th>
        </tr>
        {% for key, value in reviews.items() %}
          <tr><td>{{ key }} <a href="PaperPage"><img class="paper" src="static/images/FileIcon.svg"></a></td>
          <td>{{ value }}</td>

          <td><label for="reviewers">Add a reviewer:</label>
            <select name="reviewer" id="reviewer">
              {% for reviewer in reviewers%}
              <option value="R1">{{reviewer.FirstName}} {{reviewer.LastName}}</option>
              {% endfor %}
            </select></td>
          </tr>
          {% endfor %}
      </table>

</body>
<script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>