<!DOCTYPE html>
<html lang="en">
<head>
<title>Paper Review</title>
<script language="javascript" src="static/scripts/nav.js"></script>
<link rel="stylesheet" href="static/styles/stylesNAV.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <table>
        <col width="300px">
        <col width="750px">
        <col width="200px">
        <tr>
          <th>Papers</th>
          <th>Reviewers</th>
          <th>Add Reviewers</th>
        </tr>
        <tr>
          <td>Paper 1 <a href="PaperPage.html"><img class="paper" src="static/images/FileIcon.svg"></a></td>
          <td>Reviewer 1, Reviewer 2</td>
          <td><label for="reviewers">Add a reviewer:</label>

            <select name="reviewer" id="reviewer">
              <option value="R1">Reviewer 1</option>
              <option value="R2">Reviewer 2</option>
              <option value="R3">Reviewer 3</option>
              <option value="R4">Reviewer 4</option>
              <option value="R5">Reviewer 5</option>
              <option value="R6">Reviewer 6</option>
            </select></td>
        </tr>
        <tr>
          <td>Paper 2 <a href="PaperPage.html"><img class="paper" src="static/images/FileIcon.svg"></i></a></td>
          <td>Reviewer 3</td>
          <td><label for="reviewers">Add a reviewer:</label>

            <select name="reviewer" id="reviewer">
              <option value="R1">Reviewer 1</option>
              <option value="R2">Reviewer 2</option>
              <option value="R3">Reviewer 3</option>
              <option value="R4">Reviewer 4</option>
              <option value="R5">Reviewer 5</option>
              <option value="R6">Reviewer 6</option>
            </select></td>
        </tr>
        <tr>
          <td>Paper 3 <a href="PaperPage.html"><img class="paper" src="static/images/FileIcon.svg"></i></a></td>
          <td></td>
          <td><label for="reviewers">Add a reviewer:</label>

            <select name="reviewer" id="reviewer">
              <option value="R1">Reviewer 1</option>
              <option value="R2">Reviewer 2</option>
              <option value="R3">Reviewer 3</option>
              <option value="R4">Reviewer 4</option>
              <option value="R5">Reviewer 5</option>
              <option value="R6">Reviewer 6</option>
            </select></td>
        </tr>
        <tr>
          <td>Paper 4 <a href="PaperPage.html"><img class="paper" src="static/images/FileIcon.svg"></i></a></td>
          <td>Reviewer 4, Reviewer 5, Reviewer 6</td>
          <td><label for="reviewers">Add a reviewer:</label>

            <select name="reviewer" id="reviewer">
              <option value="R1">Reviewer 1</option>
              <option value="R2">Reviewer 2</option>
              <option value="R3">Reviewer 3</option>
              <option value="R4">Reviewer 4</option>
              <option value="R5">Reviewer 5</option>
              <option value="R6">Reviewer 6</option>
            </select></td>
        </tr>
      </table>

</body>
<script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>