<!DOCTYPE html>
<html lang="en">
<head>
<title>Paper Page</title>
  <script language="javascript" src="static/scripts/nav.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/styles/stylesNAV.css">
</head>
<body>


   <!-- using user info example -->
   <!-- only show dev mode -->
  <span style="color:white;">User: {{ user.EmailAddress }}</span>
  
    <div class="separator">
        PAPER 1 Title </br>
        Author, Paper Topics
    </div>

    <div class="separator" style="padding: 25px">
        REVIEW 1 </br> 
        <p style="padding: 10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="separator" style="padding: 25px">
        REVIEW 2 </br> 
        <p style="padding: 10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna 
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum.
        </p>
    </div>

</body>
  <script language="javascript" src="static/scripts/FOOTER.js"></script>
</html>