<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="static/styles/stylesRegForm.css">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>
    </style>
  </head>
  
  <body>
    <div class="testbox">
		  <script language="javascript" src="static/scripts/nav.js"></script>
      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %} 
            {% if category =='error' %}
              <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
 <form method="POST">
   <div class="banner">
     <h1></h1>
   </div>
   
   <div class="colums">
     <div class="item">
  <label for="FirstName">First Name<span>*</span></label>
  <input id="fname" type="text" name="FirstName" required/>
     </div>

     <div class="item">
  <label for="MiddleInitial"> Middle Initial<span></span></label>
  <input id="MiddleInitial" type="text" name="MiddleInitial"/>
     </div>

     <div class="item">
  <label for="LastName"> Last Name<span>*</span></label>
  <input id="LastName" type="text" name="LastName" required/>
     </div>
	<div class="item">
  <label for="Affiliation">Affiliation<span>*</span></label>
  <input id="Affiliation" type="text"   name="Affiliation" required/>
     </div>
	 	<div class="item">
  <label for="department">Department<span>*</span></label>
  <input id="department" type="text"   name="Department" required/>
     </div>
     <div class="item">
  <label for="Department">Address<span>*</span></label>
  <input id="Department" type="text"   name="Address" required/>
     </div> 
     <div class="item">
  <label for="State">State<span>*</span></label>
  <input id="State" type="text"   name="State" required/>
     </div>
     <div class="item">
  <label for="Zip">Zip/Postal Code<span>*</span></label>
  <input id="Zip" type="text" name="Zip" required/>
     </div>
     <div class="item">
  <label for="City">City<span>*</span></label>
  <input id="City" type="text"   name="City" required/>
     </div>
     <div class="item">
  <label for="EmailAddress">Email Address<span>*</span></label>
  <input id="EmailAddress" type="text"   name="EmailAddress" required/>
     </div>
     <div class="item">
  <label for="PhoneNumber">Phone<span>*</span></label>
  <input id="PhoneNumber" type="tel"   name="PhoneNumber" required/>
     </div>
  
   <div class="item">
    <label for="Password">Password<span>*</span></label>
    <input id="Password" type="password"   name="Password" required/>
       </div>
     </div>
   <div class="question">
     <label>Registration Type</label>
     <div class="question-answer">
  <div>
    <input type="radio" value="author" id="radio_1" name="type"/>
    <label for="radio_1" class="radio"><span>Author (Skip Review Topics Section if chosen)</span></label>
  </div>
  <div>
    <input  type="radio" value="reviewer" id="radio_2" name="type"/>
    <label for="radio_2" class="radio"><span>Reviewer (Fill out Review Topics Section if chosen)</span></label>
  </div>
     </div>
   </div>

   <div class="question">
     <div class="question-answer">
      <h2>Review Topics</h2>
      <label for="topics">Please indicate the topics in which you are knowledable and/or interested. (Note: If you've reviews in the past, you will still need to provide this information as interests do change.) <br>Please select one or more topics. Please type your topic if not listed here: </br>
      </label>
      <input type="text" list="topics" placeholder="Other(Describe)"/>
      <select name="topics" id="topics" multiple>
        <option value="Analysis Of Algorithms">Analysis Of Algorithms</option>
        <option value="Applications">Applications</option>
        <option value="Architecture">Architecture</option>
        <option value="Artificial Intelligence">Artificial Intelligence</option>
        <option value="Computer Engineering">Computer Engineering</option>
        <option value="Curriculum">Curriculum</option>
        <option value="Data Structures">Data Structures</option>
        <option value="Databases">Databases</option>
        <option value="Distance Learning">Distance Learning</option>
        <option value="Distributed Systems">Distributed Systems</option>
        <option value="Ethical/Societal Issues">Ethical/Societal Issues</option>
        <option value="First Year Computing">First Year Computing</option>
        <option value="Gender Issues">Gender Issues</option>
        <option value="Grant Writing">Grant Writing</option>
        <option value="Graphics Image Processing">Graphics Image Processing</option>
        <option value="Human Computer Interation">Human Computer Interation</option>
        <option value="Laboratory Environments">Laboratory Environments</option>
        <option value="Literacy">Literacy</option>
        <option value="Mathematics in Computing">Mathematics in Computing</option>
        <option value="Multimedia">Multimedia</option>
        <option value="Networking/Data Communications">Networking/Data Communications</option>
        <option value="Non-Major Courses">Non-Major Courses</option>
        <option value="Object Oriented Issues">Object Oriented Issues</option>
        <option value="Operating Systems">Operating Systems</option>
        <option value="Parallel Processing">Parallel Processing</option>
        <option value="Pedagogy">Pedagogy</option>
        <option value="Programming Languages">Programming Languages</option>
        <option value="Research">Research</option>
        <option value="Security">Security</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Systems Analysis and Design">Systems Analysis and Design</option>
        <option value="Using Technology in the Classroom">Using Technology in the Classroom</option>
        <option value="Web and Internet Programming">Web and Internet Programming</option>
      </select>
      <br>For windows: Hold down the control (ctrl) button to select or deselect multiple options
      <br>For Mac: Hold down the command button to select or deselect multiple options

     </div>
   </div>

   <h2>Terms of Service</h2>
   <input type="checkbox" name="checkbox1">
   <label>You consent to receive communications from us electronically. We will communicate with you by e-mail or phone. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</label>
   <div class="btn-block">
     <button type="submit">Submit</button>
   </div>
   <script language="javascript" src="static/scripts/Footer.js"></script>
 </form>
    </div>
  </body>
</html>