.filterDiv {
    background-color: grey;
    color: #ffffff;
    width: 1250px;
    line-height: 75px;
    margin: 2px;
    display: none;
    padding: 10px;
  }
  
  .show {
    display: block;
  }
  
  .container {
    width: 80%;
     margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .btninfo {
    padding: 10px;
    float: right;
  }